@use 'vars' as *
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round'
@import 'https://fonts.googleapis.com/css2?family=Roboto'

.fixed
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: -65535
body
    color: $color
    display: flex
    flex-direction: column
    background: $background
    font-family: Roboto, sans-serif
    font-size: 24px
    margin: 0

// override firefox styles
*:focus
    outline: 0
input
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    &[type=number]
        -moz-appearance: textfield
    &::placeholder
        font-family: Roboto, sans-serif
    font-size: inherit
    font-family: unset
    box-sizing: border-box
    background: unset
    color: unset

.gain
    --theme: #{$gain}
    --theme-nav: #EE881D
.lose
    --theme: #{$lose}
    --theme-nav: #8434B1

code
    font-family: $mono

.material-icons-round
    font-size: 1.2em
    user-select: none
